.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #333; 
    z-index: 1000; 
    padding: 10px 20px; 
    margin: 0; 
}


body {
    margin: 0;
    padding-top: 60px; 
}
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 16px;
}

.nav-connect {
    padding: 15px 20px;
    border-radius: 50px;
    background: /*white*/  linear-gradient(270deg, #3C8CE7 25%, #00EAFF 100%);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.logo {
    width: 100px;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
    cursor: pointer;
}

.nav-mob-open {
    display: none;
    cursor: pointer;
    width: 30px;
}

@media (max-width: 768px) {
    .navbar {
        margin: 0; 
        padding: 10px 20px; 
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: absolute;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 30px;
        right: 7%;
        width: 30px;
    }

    .navbar ul {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -300px;
        padding-top: 100px;
    }

    .nav-menu li {
        font-size: 22px;
        padding-left: 50px;
        flex-direction: row;
        gap: 20px;
    }
    
    .nav-menu li.active {
    font-weight: bold;
    color: #DA7C25; 
    }

}
